.div_1{
    width: 200px;
    height: 300px;
    padding: 10px;
    border: 3px solid palegreen;
    margin: 5px;
    /* overflow-y: auto; */
}
.div_2{
    width: 300px;
    padding: 5px;
    border: 1px dotted rebeccapurple;
    margin: 10px;
}