*{
    margin: auto;
    padding: auto;
}
div{
    color:seagreen;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: aqua;
}
h1{
    text-shadow: 5px 1px black;
    color:brown;
}
h2{
    color: hsl(54, 23%, 54%);
    text-align: center;
    text-shadow: 4px 4px 10px red;
}