*{
    margin: auto;
    padding: auto;
    background-color: rgb(249, 252, 255);
}

h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(45, 218, 131);

}
h6{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine;
}
input{
    padding: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    box-sizing:content-box;
    
}