[custom]{
    text-align: right;
    background-color: aquamarine;
    border: 3px solid greenyellow;
    color: red;
}
[custom~=color]{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: line-through yellow 0.5px;
    background-color: skyblue;
    border: 3px dotted firebrick;
    color: white;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}